:root { /* Root variables */
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

* { /*Resetting default settings by targeting every element*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { /*Targeting html tag*/
    scroll-behavior: smooth;
}

body { /*Targeting body*/
    font-family: 'Poppins', sans-serif; /*Setting default font and a backup font (sans serif) encase it can't load*/
    background-color: var(--background-color); /*Using root var to set BG colour*/
    max-width: 1400px; /*Fixes the maximum width*/
    margin: 0 auto; /*Fixes the page to the centre*/
}

a { /*Targeting links*/
    color: var(--link-color); /*Set link colour*/
    text-decoration: none; /*Removes underline from links*/
}

/* NAVBAR */
nav {
    display: flex; /*Splits the elements to the left and right*/
    justify-content: space-between; /*Adds space between the elements*/
    align-items: center; /*Ensures that items are aligned centrally*/
    padding: 0 50px; /*Adds padding for the X-axis*/
    height: 80px; /*Sets a fixed hight for the navbar*/
}

nav .left a { /* Targeting the link element in the left-side nav*/
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600; /*Uses respective google font weight that was selected (poppins 600)*/
}

nav .right a { /* Targeting the link elements in the right-side nav*/
    color: var(--text-color);
    margin: 8px; /*Adds spacing between the elements*/
}

nav .right a:last-child { /*Targets the last element in this section (email)*/
    color: var(--background-color); /*Uses an inverted scheme*/
    background-color: var(--text-color); /*Uses an inverted scheme*/
    padding: 5px 15px; /*Sets padding for the Y and X axis*/
    border-radius: 5px; /*Makes the edges curved*/
}

nav .right a span { /*Targets the text in the right-side elements*/
    margin-left: 3px; /*Adds spacing between the icons and text*/
}

/*SECTION 1: Top*/
.top { /*Targets the whole hero section*/
    display: flex; /*Splits the elements to the left and right*/
    justify-content: space-between; /*Adds space between the elements*/
    align-items: center;
    padding: 0 50px;
    margin: 50px 0; /*Adds a margin on the Y axis that adds space between the navbar and hero*/
    gap: 40px; /*Adds a gap between the elements*/
    margin-bottom: 75px; /*Adds a gap between the hero and testimony*/
}

.top .text-top { /*Targets just the text*/
    flex: 5; /*Dividing the space between the text and headshot*/
}

.top h2 { /*Targets h2 elements in the text section*/
    font-size: 45px;
    margin-bottom: 10px;
}

.top .text-top .links { /*Targets the links*/
    margin-top: 25px; /*Adds a margin to the top*/

}

.top .text-top .links a { /*Targets anchor tags in the links section*/
    padding: 5px 10px;
    border: 2px solid var(--link-color); /*Adds a border to the links*/
    border-radius: 5px; /*Makes edges curved*/
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s; /*Adds a transition effect when the links are hovered over*/
}

.top .text-top .links a:hover { /*Targets when the cursor hovers over the links*/
    color: var(--text-color);
    border: 2px solid var(--text-color)
}

.top .picture { /*Targets just the python picture*/
    flex: 2; /*Dividing the space between the text and pic*/
    display: flex;
    justify-content: right; /*Pushes python pic to the right*/
}

.top .picture img { /*Targets just the image*/
    border-radius: 50%; 
    width: 350px;
}

.top .text-top a:hover {
    color: var(--text-color);
    transition: .1s;
}

/*SECTION 2: Reading App*/
.text-app {
    padding: 0 50px;
    margin: 50px 0; /*Adds a margin on the Y axis that adds space between the navbar and hero*/ 
    margin-bottom: 50px; /*Adds a gap between the hero and testimony*/  
}

.text-app h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.video {
    text-align: center;
}

.content {
    padding: 0 50px;
    margin: 50px 0; /*Adds a margin on the Y axis that adds space between the navbar and hero*/ 
    margin-bottom: 50px; /*Adds a gap between the hero and testimony*/  
}

.content h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.content-elements {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.content-elements img {
    flex: 2;
}

.content-elements p {
    flex: 8;
}


@media (max-width: 850px) { /*Media query that only applies following statements when the width is bellow 850px*/
    /*SECTION 1: Top*/
    .top .text-top h2 {
        font-size: 35px; /*Changes the h2 font size to 35px*/
    }
}

@media (max-width: 740px) { /*Media query that only applies following statements when the width is bellow 740px*/
    /*SECTION 1: Top*/
    .top {
        flex-direction: column-reverse; /*Moves the headshot to ontop of the text suiting a mobile interface*/
        text-align: center;
        padding: 0 10px;
    }

    .top .picture img {
        width: 250px;
    }

    /*SECTION 2: Reading App*/
    .reading-app {
        flex-direction: column;
        text-align: center;
        padding: 0 10px;
    }

    .reading-app .content .content-elements {
        flex-direction: column-reverse;
        padding: 0 10px;
    }

    .reading-app .content .content-elements img {
        width: 450px;
    }
}

@media (max-width: 610px) { /*Media query that only applies following statements when the width is bellow 610px*/
    /*Navbar*/
    nav {
        padding: 0 20px; /*Changes X-axis padding to 20px*/
    }

    nav .right a { /*Targets the links*/
        font-size: 25px; /*Making the elements bigger*/
    }

    nav .right a:last-child { /*Targets the email element*/
        color: var(--text-color); /*Reverting the scheme for the email element*/
        background-color: transparent;
        padding: 0;
    }
    nav .right a span { /*Targets the text in the right-side elements*/
        display: none; /*Removes the text*/
    }
}
